# Compiled Python file
__pycache__/
*$py.class

# C extension
*.so
*.o

# Partitioning file
hypergraph.txt

# Regression test resuls
test/*_output

# Regression testbench
test/*_tb.v
test/hypergraph.txt
test/*_output
test/*_script

# misc
.vscode/
abc.rc
node_modules/
*.json
bk/